#root {
    background-color: #fc2403;
}

.welcome-page {
    background-image: url('../public/images/welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-page {
    background-image: url('../public/images/listen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#modal-id {
    background-image: url('https://images.unsplash.com/photo-1604262725913-1c415cd27564?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2142&q=80');
}

/* Product List */
.cart-btn {
    background-color: #fc2403;
}